/* Footer */
footer {
  color: white;
  background-color: var(--col_gris_sombre);
  padding: 22px 25px;
}

@media (min-width: 1440px) {
  footer {
    padding: 30px 25px;
    display: flex;
    flex-direction: row-reverse;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  footer {
    background: darkslateblue;
  }
}

footer > p {
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
}

@media (min-width: 1440px) {
  footer > p {
    justify-content: flex-end;
    align-items: flex-end;
    width: 138px;
    line-height: 50px;
    margin: 0.7em 0 0 16px;
  }
}

footer ol {
  margin-top: 1em;
}

@media (min-width: 1440px) {
  footer ol {
    display: flex;
    gap: 10px;
  }
}

footer li {
  line-height: 1.5em;
}

@media (min-width: 1440px) {
  footer li {
    margin-top: 0.7em;
  }
}

footer .footer__bold {
  display: inline-block;
  margin-left: 0.5em;
  font-weight: 500;
}

@media (min-width: 1440px) {
  footer .footer__bold {
    width: 168px;
  }
}

@media (min-width: 1440px) {
  footer .footer__thin {
    display: inline-block;
    width: 130px;
  }
}

footer a:link {
  color: white;
}

footer a:link:hover {
  text-decoration: underline;
  color: white;
}
