@charset "UTF-8";
:root {
  --col_primaire: #9356DC;
  --col_secondaire: #FF79DA;
  --col_tertiaire: #99E2D0;
  --col_gris_tres_clair: #f6f6f6;
  --col_gris_clair: #eaeaea;
  --col_gris_sombre: #353535;
  --col_vert_clair: #99E2D0;
  --col_vert_sombre: #008766;
}

* {
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #000;
}

p {
  margin: 0;
}

body {
  max-width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h2 {
  font-family: 'roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
  margin: 0;
}

h3 {
  font-family: 'roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
  margin: 0;
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header > img {
  width: 200px;
  margin: 20px auto;
}

header .header_localisation {
  display: flex;
  justify-content: center;
  gap: 17px;
  padding: 1em;
  background-color: var(--col_gris_clair);
  box-shadow: inset 0 8px 6px -6px rgba(0, 0, 0, 0.2);
}

header .header_localisation p {
  font-weight: 700;
  color: var(--col_gris_sombre);
}

/* Section Entête */
.section_entete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5em 1.5em;
  gap: 2.5em;
  background: var(--col_gris_tres_clair);
  text-align: center;
}

.section_entete_titre_accroche {
  width: 275px;
}

.section_entete_texte_accroche > p {
  font-size: 18px;
}

.section_entete > a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: auto;
  height: 50px;
  width: 218px;
  border-radius: 25px;
  background: linear-gradient(to top, var(--col_primaire), var(--col_secondaire));
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.section_entete > a p {
  color: white;
  font: 500 16px "Roboto", sans-serif;
}

.section_entete > a:hover::after {
  opacity: 1;
}

.section_entete > a::after {
  content: "";
  opacity: 0;
  border-radius: 25px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  backdrop-filter: brightness(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  transition: opacity 0.5s;
}

/* Section Fonctionnement */
.section_fonctionnement {
  padding: 40px 20px 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.fonctionnement_cards {
  display: flex;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 20px;
  margin-left: 10px;
  background: var(--col_gris_tres_clair);
}

.fonctionnement_cards .pastilles {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -30px;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  font-weight: 500;
  color: white;
  background: var(--col_primaire);
}

.fonctionnement_cards img {
  position: relative;
  left: -10px;
}

.fonctionnement_cards > p {
  font-weight: 500;
  position: relative;
  left: 15px;
}

/* Section Restaurants */
.section_restaurants {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  gap: 20px;
  background: var(--col_gris_tres_clair);
}

.restaurant_cards {
  background-color: white;
  border-radius: 20px;
  height: 250px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.restaurant_cards .restaurant_cards_images {
  width: 100%;
  object-fit: cover;
  height: 175px;
  border-radius: 20px 20px 0px 0px;
}

.restaurant_cards .label_new {
  position: absolute;
  padding: 0.5em 1em;
  background: var(--col_vert_clair);
  color: var(--col_vert_sombre);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 14px;
  right: 1em;
  top: 1em;
}

.restaurant_cards_content {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.restaurant_cards_content .card_like {
  cursor: pointer;
  position: relative;
}

.restaurant_cards_content .card_like .like_liked, .restaurant_cards_content .card_like .like_default {
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: 5;
  left: -30;
  transition: opacity 0.3s ease;
}

.restaurant_cards_content .card_like .like_liked {
  opacity: 0;
}

.restaurant_cards_content .card_like:active .like_liked {
  opacity: 1;
  transition: opacity 1s ease;
}

/* Footer */
footer {
  color: white;
  background-color: var(--col_gris_sombre);
  padding: 25px;
}

footer > p {
  color: white;
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
}

footer ol {
  margin-top: 1em;
}

footer li {
  line-height: 1.5em;
  color: white;
  margin-top: 0.5em;
}

footer li span {
  color: white;
}

footer li span.foot_fat {
  margin-left: 0.5em;
  font-weight: 500;
}
