:root {
  --col_primaire: #9356DC;
  --col_secondaire: #FF79DA;
  --col_tertiaire: #99E2D0;
  --col_gris_tres_clair: #f6f6f6;
  --col_gris_clair: #eaeaea;
  --col_gris_sombre: #353535;
  --col_vert_clair: #99E2D0;
  --col_vert_sombre: #008766;
}

* {
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

p {
  margin: 0;
}

body {
  max-width: 375px;
  min-width: 330px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 376px) {
  body {
    max-width: 1440px;
  }
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Footer */
footer {
  color: white;
  background-color: var(--col_gris_sombre);
  padding: 22px 25px;
}

@media (min-width: 1054px) {
  footer {
    padding: 30px 25px;
    display: flex;
    flex-direction: row-reverse;
  }
}

footer > p {
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
}

@media (min-width: 1054px) {
  footer > p {
    justify-content: flex-end;
    align-items: flex-end;
    width: 138px;
    line-height: 50px;
    margin: 0.7em 0 0 16px;
  }
}

footer ol {
  margin-top: 1em;
}

@media (min-width: 1054px) {
  footer ol {
    display: flex;
    gap: 10px;
  }
}

footer li {
  line-height: 1.5em;
}

@media (min-width: 1054px) {
  footer li {
    margin-top: 0.7em;
  }
}

footer .footer__bold {
  display: inline-block;
  margin-left: 0.5em;
  font-weight: 500;
}

@media (min-width: 1054px) {
  footer .footer__bold {
    width: 168px;
  }
}

@media (min-width: 1054px) {
  footer .footer__thin {
    display: inline-block;
    width: 130px;
  }
}

footer a:link {
  color: white;
}

footer a:link:hover {
  text-decoration: underline;
  color: white;
}

.header {
  display: flex;
}

.header__arrow {
  position: relative;
  width: 30px;
  height: 30px;
  top: 22px;
  left: 25px;
}

.header__logo {
  width: 162px;
  margin: 20px auto;
}

@media (min-width: 1440px) {
  .header__logo {
    width: 200px;
  }
}

main > .restaurant__image_box {
  height: 275px;
  background-size: cover;
  background-position: center;
}

@media (min-width: 1440px) {
  main > .restaurant__image_box {
    height: 375px;
  }
}

main > .restaurant__image_box.etablissement_palette {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

main > .restaurant__image_box.etablissement_note {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

main > .restaurant__image_box.etablissement_francaise {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

main > .restaurant__image_box.etablissement_delice {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.restaurant__container {
  max-width: 1054px;
  margin: auto;
  background: var(--col_gris_tres_clair);
  padding: 0 0 40px 0;
  position: relative;
}

@media (min-width: 1440px) {
  .restaurant__container {
    margin: 0px 193px;
    padding: 0px 193px 40px 193px;
  }
}

.restaurant__container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: -40px;
  height: 40px;
  background: var(--col_gris_tres_clair);
  border-radius: 40px 40px 0 0;
}

.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 15px 15px;
}

@media (min-width: 768px) {
  .menu__header {
    justify-content: center;
  }
}

.menu__header .like__button {
  margin-right: 20px;
  cursor: pointer;
  position: relative;
}

@media (min-width: 768px) {
  .menu__header .like__button {
    margin-left: 20px;
  }
}

.menu__header .like__button .like__default {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.4s ease;
  height: 21px;
}

.menu__header .like__button .like__liked {
  height: 21px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu__header .like__button:hover .like__liked {
  opacity: 1;
}

.menu__header .like__button:hover .like__default {
  opacity: 0;
}

.menu__header .establishment__name {
  font: 28px Shrikhand;
}

/* SECTION STARTERS - ENTREES / DISHES - PLATS / DESSERTS */
.courses {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 12.5px;
  margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .courses {
    align-items: center;
  }
}

.courses .section__title::after {
  content: "";
  display: block;
  margin: 10px 0;
  border-bottom: 3px #99E2D0 solid;
  width: 40px;
}

.courses .cards {
  width: 100%;
  max-width: 642px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.courses.starters, .courses.dishes, .courses.desserts {
  opacity: 0;
  animation: 2s ease 0.5s FadeIn forwards;
}

.courses.starters {
  animation-delay: 0s;
}

.courses.dishes {
  animation-delay: 0.25s;
}

.courses.desserts {
  animation-delay: 0.5s;
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card {
  height: 69px;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  display: flex;
  overflow: hidden;
}

.card__text {
  display: flex;
  padding: 15px;
  white-space: nowrap;
  transition: all 0.25s ease-in-out;
  width: calc(100% - 1px);
}

.card__details {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 35px;
  flex: 1;
  transition: all 0.25s ease-in-out;
}

.card__name {
  font-size: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.card__description {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.card__price {
  font-size: 15px;
  font-weight: 700;
  margin: 35px 15px 0 10px;
  transition: all 0.25s ease-in-out;
  position: absolute;
  right: 0;
}

.card__select-button {
  transition: transform 0.25s ease-in-out;
  transform: translateX(110%);
  position: absolute;
  right: 0;
}

.card:hover .card__price {
  margin-right: 75px;
}

.card:hover .card__text {
  padding-right: 75px;
}

.card:hover .card__select-button {
  cursor: pointer;
  transform: none;
}

.btn {
  margin: 30px auto 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: auto;
  height: 50px;
  width: 186px;
  border-radius: 25px;
  background: linear-gradient(to top, var(--col_primaire), var(--col_secondaire));
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.btn p {
  color: white;
  font: 500 16px "Roboto", sans-serif;
}

.btn:hover::after {
  opacity: 1;
}

.btn::after {
  content: "";
  opacity: 0;
  border-radius: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  backdrop-filter: brightness(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  transition: opacity 0.5s;
}
