:root {
    --col_primaire: #9356DC;
    --col_secondaire: #FF79DA;
    --col_tertiaire: #99E2D0;

    --col_gris_tres_clair: #f6f6f6;
    --col_gris_clair: #eaeaea;
    --col_gris_sombre: #353535;

    --col_vert_clair: #99E2D0;
    --col_vert_sombre: #008766;
}

@font-face {
    font-family: 'roboto';
       src: url('../fonts/roboto/roboto-light-webfont.woff') format('woff'),
            url('../fonts/roboto/roboto-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
 }

 @font-face {
    font-family: 'roboto';
       src: url('../fonts/roboto/roboto-regular-webfont.woff') format('woff'),
            url('../fonts/roboto/roboto-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
 }

 @font-face {
    font-family: 'roboto';
       src: url('../fonts/roboto/roboto-medium-webfont.woff') format('woff'),
            url('../fonts/roboto/roboto-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
 }

 @font-face {
    font-family: 'roboto';
       src: url('../fonts/roboto/roboto-bold-webfont.woff') format('woff'),
            url('../fonts/roboto/roboto-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
 }

 @font-face {
    font-family: 'Shrikhand';
        src: url("../fonts/shrikhand/Shrikhand-Regular.ttf") format('truetype'),
             url("../fonts/shrikhand/Shrikhand-Regular.otf") format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing:border-box;

    font-family: 'roboto', sans-serif;
    font-size:16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal; 
}

h1, h2, h3, p {
    margin: 0;
}

body {
    max-width: 375px;
    min-width: 330px;
    margin: auto;
    display:flex;
    flex-direction: column;
    @media (min-width: 376px) {
        max-width: 1440px;
    }
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative; // l'absolute de ::after va se positionner par rapport à son first parent relative, celui ci
	height: 50px;
	border-radius: 25px;
	background: linear-gradient(to top, var(--col_primaire), var(--col_secondaire));
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	z-index: 1;
	& span {
		color: white;
	}
	&:hover {
		&::after {
			opacity: 1;
		}
	}
	&::after {
		content: "";
		opacity: 0;
		border-radius: inherit;
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		z-index: -1;
		backdrop-filter:brightness(1.1);
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
		transition: opacity 0.5s;
	}
}

a:link, a:visited {
    color: #000;
    text-decoration: none;
}

ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}