/* Footer */
footer {
    color: white;
    background-color: var(--col_gris_sombre);
    padding: 22px 25px;
    @media (min-width: 1054px) {
        padding: 30px 25px;
        display: flex;
        flex-direction: row-reverse;
    }
    @media (min-width: 768px) and (max-width: 1439px) {
        background: darkslateblue;
        // padding: 30px 25px;
        // display: flex;
        // justify-content: center;
        // flex-direction: row-reverse;
    }
    & > p {
        font-family: Shrikhand;
        font-size: 18px;
        font-weight: 400;
        @media (min-width: 1054px) {
            justify-content: flex-end;
            align-items: flex-end;
            width: 138px;
            line-height: 50px;
            margin: 0.7em 0 0 16px;
        }
    }
    & ol {
        margin-top: 1em;
        @media (min-width: 1054px) {
            display: flex;
            gap: 10px;
        }
    }
    & li {
        line-height: 1.5em;
        @media (min-width: 1054px) {
            margin-top: 0.7em;
        }
    }
    & .footer__bold  {
        display: inline-block;
        margin-left: 0.5em;
        font-weight: 500;
        @media (min-width: 1054px) {
            width: 168px;
        }
    }
    & .footer__thin {
        @media (min-width: 1054px) {
            display: inline-block;
            width: 130px;
        }
    }
    & a:link {
        color: white;
        &:hover {
            text-decoration: underline;
            color: white;
        }
    }
}