/* Footer */
footer {
    color: white;
    background-color: var(--col_gris_sombre);
    padding: 25px;
    & > p {
        color: white;
        font-family: Shrikhand;
        font-size: 18px;
        font-weight: 400;
    }
    & ol {
        margin-top: 1em;
    }
    & li {
        line-height: 1.5em;
        color: white;
        margin-top: 0.5em;
    }
    & li span {
        color: white;
        &.foot_fat {
            margin-left: 0.5em;
            font-weight: 500;
        }
        // &.foot_thin {
        //     font-weight: 400;
        // }
    }
}