@import "default";

h2 {
    font-family: 'roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    color: #000;
    margin: 0;
}

h3 {
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    color: #000;
    margin: 0;
}

/* LOADER - ANIMATION A FAIRE !! */
/* Probablement lettre par lettre ? */
/* 8 div ohmyfood ou 3 avec omf */

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeInOut 3s ease 0s 1 normal forwards;
    &__box {
        text-align: center;
    }
    &__text {
        font-size: 36px;
        font-weight: 400;
        font-family: Shrikhand;
        transition: all 1s ease;
    }
    @keyframes fadeInOut {
        0% {
            opacity: 1;
        }
        66.67% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            display: none;
        }
    }
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & > img {
        width: 162px;
        margin: 18px auto;
        @media (min-width: 376px) {
            width: 200px;
        }
    }
    & .header_localisation {
        display: flex;
        justify-content: center;
        gap: 17px;
        padding: 1em;
        background-color: var(--col_gris_clair);
        box-shadow: inset 0 8px 6px -6px rgba(0, 0, 0, 0.2);
        @media (min-width: 376px) {
            box-shadow: none;
        }
        & p {
            font-weight: 700;
            color: var(--col_gris_sombre);
        }
    }
}

/* Section Entête */
.section_entete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5em 1.5em;
    gap: 1em;
    background: var(--col_gris_tres_clair);
    text-align: center; // sent to childs
    &_titre_accroche {
        width: 275px;
        & h2 {
            font-size: 24px;
            font-weight: 700;
            @media (min-width: 1440px) {
                font-size: 40px;
            }
        }
        @media (min-width: 720px) and (max-width: 1439px) {
            width: 100%;
        }
        @media (min-width: 1440px) {
            width: 100%;
            font-size: 40px;
        }
    }
    &_texte_accroche > p {
        font-size: 18px;
    }
    & > a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; // l'absolute de ::after va se positionner par rapport à son first parent relative, celui ci
        padding: auto;
        margin: 15px auto;
        height: 50px;
        width: 218px;
        border-radius: 25px;
        background: linear-gradient(to top, var(--col_primaire), var(--col_secondaire));
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        z-index: 1;
        & p {
            color: white;
            font: 400 16px "Roboto", sans-serif;
        }
        &:hover {
            &::after {
                opacity: 1;
            }
        }
        &::after {
            content: "";
            opacity: 0;
            border-radius: inherit;
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            z-index: -1;
            backdrop-filter:brightness(1.1);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
            transition: opacity 0.5s; // ease-out ?
        }
    }
}

/* Section Fonctionnement */
.section_fonctionnement {
    padding: 40px 20px 60px 20px;
    @media (min-width: 1440px) { padding: 50px 180px; }
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.fonctionnement-cards__box {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    @media (min-width: 720px) and (max-width: 1439px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media (min-width: 1440px) {
        flex-direction: row;
        align-items: center;
    }
}

.fonctionnement_cards {
    display: flex;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 25px;
    margin-left: 10px;
    background: var(--col_gris_tres_clair);
    @media (min-width: 720px) and (max-width: 1439px) {
        min-width: 343px; // (1440-(180*2)-(25*2))/3
    }
    @media (min-width: 1440px) {
        width: 100%;
    }
    & .pastilles {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: -37px;
        border-radius: 50%;
        width: 1.5em;
        height: 1.5em;
        font-weight: 500;
        color: white;
        background: var(--col_primaire);
    }
    & img {
        position: relative;
        left: -10px;
    }
    & > p {
        font-weight: 500;
        position: relative;
        left: 15px;
    }
}

/* Section Restaurants */
.section_restaurants {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    gap: 20px;
    background: var(--col_gris_tres_clair);
    @media (min-width: 1440px) {
        padding: 30px 180px;

    }
}

.restaurant_cards__box {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 0; margin: 0;
    @media (min-width: 1054px) and (max-width: 1439px) {
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
    }
    @media (min-width: 1440px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px 100px;
    }
}

.restaurant_cards {
    background-color: white;
    border-radius: 20px;
    height: 250px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    @media (min-width: 1054px) and (max-width: 1439px) {
        min-width: 490px; // 720-(20*2)
    }
    & .restaurant_cards_images {
        width: 100%;
        object-fit: cover;
        height: 175px;
        border-radius: 20px 20px 0px 0px;
    }
    & .label_new {
        position: absolute;
        padding: 0.5em 1em;
        background: var(--col_vert_clair);
        color: var(--col_vert_sombre);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        font-weight: 500;
        font-size: 14px;
        right: 1em;
        top: 1em;
    }
    &_content {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        & .card_like {
            cursor: pointer;
            position: relative;
            & .like_default {
                position: absolute;
                top: 0; bottom: 0; left: 0; right: 0;
                transition: opacity 0.4s ease;
                height: 1.5em;
            }
            & .like_liked {
                height: 1.5em;
                opacity: 0;
                transition: opacity 0.4s ease;
            }
            &:hover .like_liked {
                opacity: 1;
            }
            &:hover .like_default {
                opacity: 0;
            }
        }
    }
}

@import "footer";
