@import "default";

.header {
    display: flex;
    &__arrow {
        position: relative;
        width: 30px;
        height: 30px;
        top: 22px;
        left: 25px;
    }
    &__logo {
        width: 162px;
        @media (min-width: 1440px) { width: 200px;}
        margin: 20px auto;
    }
}

main {
    border: 1px green dotted;
    & > .restaurant__image_box {
        height: 275px;
        @media (min-width: 1440px) { height: 375px;}
        background-size: cover;
        background-position: center;
        background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    }
}

.restaurant__container {
    @media (min-width: 1440px) {
        margin: 0px 193px;
        padding: 0px 193px 40px 193px;
    }
    background: var(--col_gris_tres_clair);
    padding: 0 0 40px 0;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: -40px;
        height: 40px;
        background: var(--col_gris_tres_clair);
        border-radius: 40px 40px 0 0;
    }
}

.menu__header {
    display: flex;
    justify-content: space-between;
    @media (min-width: 1440px) { justify-content: center; }
    align-items: center;
    padding: 0px 15px 15px 15px;
    & .like__button {
        margin-right: 20px;
        @media (min-width: 1440px) { margin-left: 20px; }
        cursor: pointer;
        position: relative;
        & .like__default {
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            transition: opacity 0.4s ease;
            height: 21px;
        }
        & .like__liked {
            height: 21px;
            opacity: 0;
            transition: opacity 0.4s ease;
        }
        &:hover .like__liked {
            opacity: 1;
        }
        &:hover .like__default {
            opacity: 0;
        }
    }
    & .establishment__name {
        font: 28px Shrikhand;
    }
}

/* SECTION STARTERS - ENTREES / DISHES - PLATS / DESSERTS */
.courses {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 12.5px;
    margin-bottom: 20px;
    & .section__title::after { // Trait sous le titre
        content: "";
        display: block;
        margin: 10px 0;
        border-bottom: 3px #99E2D0 solid;
        width: 40px;
    }
    & .cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

.card {
    height: 69px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    overflow: hidden;
    &__text {
        display: flex;
        padding: 15px;
        white-space: nowrap;
        transition: all 0.25s ease-in-out;
        width: calc(100% - 1px);
    }
    &__details {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 35px;
        flex: 1;
        transition: all 0.25s ease-in-out;
    }
    &__name {
        font-size: 18px;
        font-weight: 500;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
    }
    &__description {
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
    }
    &__price {
        font-size: 15px;
        font-weight: 700;
        margin: 35px 15px 0 10px;
        transition: all 0.25s ease-in-out;
        position: absolute;
        right: 0;
    }
    &__select-button {
        transition: transform 0.25s ease-in-out;
        transform: translateX(110%);
        position: absolute;
        right: 0;
    }
    &:hover &__price {
        margin-right: 75px; // On peut donc animer une margin !
    }
    &:hover &__text {
        padding-right: 75px;
        // flex: 0.8;
    }
    &:hover &__select-button {
        cursor: pointer;
        transform: none;
    }
}

.btn {
    margin: 30px auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; // l'absolute de ::after va se positionner par rapport à son first parent relative, celui ci
    padding: auto;
    height: 50px;
    width: 186px;
    border-radius: 25px;
    background: linear-gradient(to top, var(--col_primaire), var(--col_secondaire));
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
    & p {
        color: white;
        font: 500 16px "Roboto", sans-serif;
    }
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        opacity: 0;
        border-radius: inherit;
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: -1;
        backdrop-filter:brightness(1.1);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
        transition: opacity 0.5s; // ease-out ?
    }
}

@import "footer";
