@import "default";

.header {
    display: flex;
    &__fleche {
        position: relative;
        width: 30px;
        height: 30px;
        top: 22px; /** BIDOUILLE **/
        left: 25px;
    }
    &__logo {
        width: 200px;
        margin: 20px auto;
    }
}

main {
    background: var(--col_gris_tres_clair);
    & > .box_image_restau {
        height: 275px;
        background-size: cover;
        background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    }
    & .main_container {
        background: var(--col_gris_tres_clair);
        border-radius: 25px 25px 0 0;
        position: relative;
        top: -35px;
    }
}

.entete_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    & .card_like {
        cursor: pointer;
        position: relative;
        & .like_default {
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            transition: opacity 0.4s ease;
            height: 1.5em;
        }
        & .like_liked {
            height: 1.5em;
            opacity: 0;
            transition: opacity 0.4s ease;
        }
        &:hover .like_liked {
            opacity: 1;
        }
        &:hover .like_default {
            opacity: 0;
        }
    }
    & .Nom_etablissement {
        font: 28px Shrikhand;
    }
}

/* Sections Entrées/Plats/Desserts */
.courses {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 12.5px;
    gap: 12px;
    & p.section__title {
        color: red;
    }
}

.card {
    height: 69px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    overflow: hidden;
    &__text {
        border: 2px red dotted;
        display: flex;
        padding: 15px;
        white-space: nowrap;
        transition: all 0.25s ease-in-out;
        width: calc(100% - 1px);
        flex: 1;
    }
    &__details {
        border: 1px red solid;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex: 1;
        transition: all 0.25s ease-in-out;
    }
    &__name {
        font-size: 18px;
        font-weight: 500;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
        max-width: 100%;
    }
    &__description {
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
        max-width: 100%;
    }
    &__price {
        font-size: 18px;
        font-weight: 700;
        margin: 33px 10px 0 10px;
    }
    &__select-button {
        flex: 0;
        transition: transform 0.25s ease-in-out;
        transform: translateX(110%);
        position: absolute;
        right: 0;
    }
    &:hover &__details {
        flex: 0.8;
    }
    &:hover &__text {
        flex: 0.8;
    }
    &:hover &__select-button {
        cursor: pointer;
        transform: none;
    }
}

.btn {
    margin: 20px auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; // l'absolute de ::after va se positionner par rapport à son first parent relative, celui ci
    padding: auto;
    height: 50px;
    width: 218px;
    border-radius: 25px;
    background: linear-gradient(to top, var(--col_primaire), var(--col_secondaire));
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
    & p {
        color: white;
        font: 500 16px "Roboto", sans-serif;
    }
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        opacity: 0;
        // border-radius: 25px;
        border-radius: inherit;
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: -1;
        backdrop-filter:brightness(1.1);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
        transition: opacity 0.5s; // ease-out ?
    }
}

@import "footer";