// .main_container {

// }

* {
    box-sizing:border-box;
}

* {
    font-family: 'roboto', sans-serif;
    font-size:16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal; 
    color: #000;
}

h2 {
    font-family: 'roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    color: #000;
    margin: 0;
}

:root {
    --col_primaire: #9356DC;
    --col_secondaire: #FF79DA;
    --col_tertiaire: #99E2D0;

    --col_gris_clair: #eaeaea;
    --col_gris_sombre: #353535;
}

body {
    max-width: 375px;
    margin: auto;
    display:flex;
    flex-direction: column;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header > img {
    width: 200px;
    margin: 20px auto;
}

.header_localisation {
    display: flex;
    justify-content: center;
    gap: 17px;
    background-color: var(--col_gris_clair);
    box-shadow: inset 0 8px 6px -6px rgba(0, 0, 0, 0.2);
}

.header_localisation p {
    font-weight: 700;
    color: var(--col_gris_sombre);
}

/* Section Entête */
.section_entete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0;
    border: 1px red dotted; // RRRRREEEEEEEDDDDDDDDDDD
}

.entete_titre_accroche, .entete_texte_accroche {
    text-align: center;
}

.section_entete button {
    height: 50px;
    width: 230px;
    border-radius: 25px;
    border: none;
    font: 500 16px "Roboto", sans-serif;
    color: white;
    background: linear-gradient(to top, var(--col_primaire), var(--col_secondaire));
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
}

/* Section Fonctionnement */
.section_fonctionnement {
    padding: 30px 20px;
    border: 1px green dotted; // GGGGRRREEEEEEEEEENNNNNNNNN
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.fonctionnement_cards{
    display: flex;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 10px;
}

.fonctionnement_cards .pastilles {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -20px;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    // text-align: center;
    font-weight: 500;
    color: white;
    background: var(--col_primaire);
}

/* Section Restaurants */
.section_restaurants {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    border: 1px blue dotted; // BLLLLLLLLLUUUUUUUUEEEEEEE
}

.restaurant_cards {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.restaurant_cards img {
    width: 100px;
    object-fit: cover;
}

/* Footer */
footer {
    color: white;
    background-color: #353535;
}

ol {
    list-style-type: none;
}